@use 'mixins';
@use 'vars';

.sidebar {
    @include mixins.flexcol;
    background-color: vars.$bg1;
    width: 18%;
    padding: 20px;
    font-size: 15px;
    height: 100vh;
}

.menuitem {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
}

.overview {
    @include mixins.flexcol;
}

.friends {
    @include mixins.flexcol;
}

.settings {
    @include mixins.flexcol;
    align-content: end;
}

.menuitem {
    margin: 10px 0;
}

.sidetitle {
    color: vars.$sidetitle;
    font-size: 12px;
}

.logout {
    color: red;
}