@use 'mixins';
@use 'vars';

.notifications {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    @include mixins.flexrow;
    *:hover {
        color: vars.$accent;
    }
}

.nicon {
    background-color: white;
    padding: 15px;
    border-radius: 50px;
}

.nuser {
    @include mixins.flexrow;
    align-items: center;
}

.nname {
    font-size: 22px;
    margin-left: 5px;
}

.statdisplay {
    background-color: vars.$bg1;
    border-radius: 20px;
    padding: 15px;
    width: 95%;
}

.mbadge {
    @include mixins.flexrow;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin: 10px 0;
}

.mssub {
    font-size: 12px;
    color: vars.$fade;
}

.mentoruser {
    @include mixins.flexcol;
    *:hover {
        color: vars.$accent2;
    }
}

.mperson {
    @include mixins.flexrow;
}

.chatsym:hover {
    color: vars.$accent2;
}

.mentors {
    background-color: vars.$bg2;
    padding: 10px;
    width: 90%;
    margin: 5px auto;
    border-radius: 20px;
}

.seeallbadge {
    width: 90%;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    background-color: vars.$accent2;
    margin: 0 auto;
}

.seeallbadge:hover {
    text-decoration: underline;
}

.user {
    @include mixins.flexcol;
    width: 100%;
    text-align: center;
    font-size: 24px;
}

.usericon {
    width: 35%; 
    align-self: center;
    background-color: vars.$bg2;
    border-radius: 100%;
}

.rmap {
    width: 100%;
    border-radius: 20px;
}