.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  margin: 0 5px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  margin: 0 5px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 15%;
  padding: 0 20px;
  font-size: 15px;
  height: 100vh;
  margin: 0;
  position: fixed;
}

.menuitem {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menuitem:hover {
  color: #fe7b51;
}

.logo {
  display: flex;
  align-items: center;
  margin: 20px auto 50px;
  font-size: 24px;
  flex-grow: 1;
}

.overview {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.friends {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: end;
  flex-grow: 5;
  margin-bottom: 20px;
}

.menuitem {
  margin: 10px 0;
}

.sidetitle {
  color: #a2a2a2;
  font-size: 12px;
}

.logout {
  color: #ed2626;
}

.lgt:hover {
  color: #ed2626;
}

.logoicon {
  height: 60px;
}

.menufriend {
  display: flex;
  flex-direction: column;
}

.friendtitle {
  font-size: 12px;
  color: #a2a2a2;
  margin: 0;
  padding: 0;
}

.searchbar {
  border-width: 1px;
  border-style: solid;
  border-color: #a2a2a2;
  border-radius: 30px;
  padding: 15px;
  margin-bottom: 15px;
  color: #a2a2a2;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.ad {
  width: 100%;
  height: 30vh;
  background-color: #fe7b51;
  border-radius: 20px;
  color: #ffffff;
}

.adtext {
  padding: 30px;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.adtitle {
  font-size: 5vh;
}

.joinnow {
  display: flex;
  align-items: center;
  background: black;
  border-radius: 20px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
}

.vids {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.videobadge {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 20px;
  justify-content: space-between;
  width: 26%;
  margin: 20px 5px;
}

.vidtext:hover, .viddots:hover, .arrowsc:hover {
  color: #fe7b51;
}

.vidtext {
  display: flex;
  flex-direction: column;
}

.vidsymbol {
  background-color: #fe7b51;
  border-radius: 100px;
  padding: 6px;
}

.vidfade {
  font-size: 12px;
  color: #a2a2a2;
}

.vidtitle {
  font-size: 16px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.display {
  width: 100%;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dissection {
  margin: 20px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
.dissection *:hover {
  color: #b9c8fe;
}

.disimg {
  width: 100%;
  border-radius: 15px;
  margin: 5px 0;
}

.dismentor {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;
}
.dismentor .material-symbols-rounded {
  font-size: 28px;
}

.dismentortxt {
  display: flex;
  flex-direction: column;
}
.dismentortxt *:last-child {
  font-size: 12px;
  color: #a2a2a2;
}

.mensymbol {
  background-color: #b9c8fe;
  border-radius: 100px;
  padding: 6px;
  color: black !important;
}

.seeall {
  color: #fe7b51;
  font-size: 12px;
  text-decoration: underline;
}

.dislesson {
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 14px;
  margin: 5px;
  justify-content: space-around;
}

table {
  margin: 10px;
}

th {
  color: #a2a2a2;
}

td {
  text-align: center;
  align-items: center;
}

.tablearrow:hover {
  color: #b9c8fe;
}

.notifications {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.notifications *:hover {
  color: #fe7b51;
}

.nicon {
  background-color: white;
  padding: 15px;
  border-radius: 50px;
}

.nuser {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nname {
  font-size: 22px;
  margin-left: 5px;
}

.statdisplay {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 15px;
  width: 95%;
}

.mbadge {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 10px 0;
}

.mssub {
  font-size: 12px;
  color: #a2a2a2;
}

.mentoruser {
  display: flex;
  flex-direction: column;
}
.mentoruser *:hover {
  color: #b9c8fe;
}

.mperson {
  display: flex;
  flex-direction: row;
}

.chatsym:hover {
  color: #b9c8fe;
}

.mentors {
  background-color: #f4f6fb;
  padding: 10px;
  width: 90%;
  margin: 5px auto;
  border-radius: 20px;
}

.seeallbadge {
  width: 90%;
  text-align: center;
  padding: 10px;
  border-radius: 50px;
  background-color: #b9c8fe;
  margin: 0 auto;
}

.seeallbadge:hover {
  text-decoration: underline;
}

.user {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-size: 24px;
}

.usericon {
  width: 35%;
  align-self: center;
  background-color: #f4f6fb;
  border-radius: 100%;
}

.rmap {
  width: 100%;
  border-radius: 20px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 100%;
}

.main {
  background-color: #f4f6fb;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.center {
  width: 55%;
  padding: 20px;
  position: relative;
  left: 18%;
}

.statistics {
  width: 23%;
  padding: 20px;
  position: fixed;
  right: 0;
}/*# sourceMappingURL=style.css.map */