@use 'icons';
@use 'sidebar';
@use 'mixins';
@use 'vars';

body {
    @include mixins.base;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.container {
    @include mixins.flexrow;
    @include mixins.base;
    height: 100vh;
}

.main {
    background-color: vars.$bg2;
    width: 90%;
    height: 100vh;
}