@use 'icons';
@use 'sidebar';
@use 'mixins';
@use 'vars';
@use 'center';
@use 'stats';

body {
    @include mixins.base;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.container {
    @include mixins.flexrow;
    @include mixins.base;
}

.main {
    background-color: vars.$bg2;
    width: 100%;
    @include mixins.flexrow;
}

.center {
    width: 55%;
    padding: 20px;
    position: relative;
    left: 18%;
}

.statistics {
    width: 23%;
    padding: 20px;
    position: fixed;
    right: 0;
}